<h1>Usuários cadastrados</h1>

<section class='master-detail'>
	<ol class='listing'>
		<li class='user'>
			<a routerLink='/user/new'>Novo usuário</a>
		</li>
		<li class='user' [class.selected]='selectedUser && (user.id === selectedUser.id)' *ngFor='let user of users'>
			<a routerLink='/user/{{user.id}}'>
				<img class='avatar' src='{{user.avatar}}'>
				{{user.name}}
			</a>
		</li>
	</ol>

	<div class='user-detail' *ngIf='selectedUser'>
		<h2>Detalhes de {{selectedUser.name}}</h2>
		<label class='name'>
			<span>Nome</span>
			<input [(ngModel)]='selectedUser.name'>
		</label>
		<label class='avatar'>
			<span>Avatar</span>
			<input [(ngModel)]='selectedUser.avatar'>
		</label>
		<button (click)='save()' class='btn'>Salvar</button>
	</div>
	<div class='new-user user-detail' *ngIf='!selectedUser'>
		<h2>Adicionar novo usuário</h2>
		<label class='name'>
			<span>Nome</span>
			<input #userName>
		</label>
		<label class='avatar'>
			<span>Avatar</span>
			<input #avatar>
		</label>
		<button (click)='add(userName.value, avatar.value)' class='btn'>Adicionar</button>
	</div>
</section>