.main-header {
	background-color: var(--primary-color);
	color: white;
	margin-bottom: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.main-header .container {
	display: flex;
	align-items: center;
}

.main-header a {
	color: white;
}

.main-header .logo {
	font-size: 1.5em;
}

.main-header .navigation {
	flex: 1;
	text-align: right;
}

.main-header .navigation a {
	margin-left: 1em;
	padding: 0.5em 1em;
	display: inline-block;
}

.main-header .navigation a:hover {
	background-color: red;
}

/* Hackday css */

.hackday {
	padding: 0.5em;
}

.hackday a {
	display: flex;
	align-items: flex-start;
}

.hackday .description {
	flex: 1;
}

.hackday p {
	font-size: 0.9em;
	margin-bottom: 0;
}

.hackday .avatar {
	border-radius: 50%;
	display: inline-block;
	margin-right: 0.5em;
	min-width: 30px;
}

.hackday-detail {
	padding: 1em;
	border: 1px solid var(--light-gray-color);
}

.status, .team {
	color: white;
	border-radius: 3px;
	font-size: 0.8em;
	display: inline-block;
	padding: 0.3em 0.5em;
	margin-top: 0.5em; 
	margin-right: 0.5em; 
}

.team {
	background-color: var(--primary-color);
}

.status.todo, .status.planned {
	background-color: var(--dark-gray-color);
}

.status.inprogress {
	background-color: var(--secondary-color);
}

.status.test {
	background-color: var(--complimentary-color);
}

.status.fix {
	background-color: var(--primary-color);
}

.status.done {
	background-color: var(--terciary-color);
}

.status.deployed {
	background-color: var(--secondary-complimentary-color);
}

.info {
	font-size: 0.9em;
}

.info p {
	margin-bottom: 0.5em;
}

.info em {
	display: inline-block;
	width: 200px;
}


.hackday-detail .avatar {
	width: 25px;
	border-radius: 50%;
	vertical-align: bottom;
}