<header class='main-header'>
	<div class='container'>
		<a class='logo' routerLink='/'>Hackday</a>
		<nav class='navigation'>
			<a routerLink='/users'>Usuários</a>
			<a href='#'>Hackdays</a>
		</nav>
	</div>
</header>
<main class='container'>
	<router-outlet></router-outlet>
	<ol class='listing'>
		<li class='hackday'>
			<a href=''>
				<div class='description'>
					<h3>Adicionar animações no marketplace</h3>
					<p>Adicionar animações no marketplace para deixá-lo super ultra legal</p>
					<p><span class='status todo'>to do</span> <span class='team'>Produto</span></p>

				</div>
			</a>
		</li>
		<li class='hackday'>
			<a href=''>
				<div class='description'>
					<h3>Adicionar animações no marketplace</h3>
					<p>Adicionar animações no marketplace para deixá-lo super ultra legal</p>
					<p><span class='status planned'>planned</span> <span class='team'>Produto</span></p>

				</div>
			</a>
		</li>
		<li class='hackday'>
			<a href=''>
				<div class='description'>
					<h3>Colocar mais informações nos buckets</h3>
					<p>Colocar mais informações nos buckets como a descrição e data de criação</p>
					<p><span class='status inprogress'>in progress</span> <span class='team'>Martell</span></p>
				</div>
				<div>
					<img class='avatar' src='https://api.adorable.io/avatars/50/user19.png' alt='Mario'>
					<img class='avatar' src='https://api.adorable.io/avatars/50/user19.png' alt='Mario'>
				</div>
			</a>
		</li>
		<li class='hackday selected'>
			<a href=''>
				<div class='description'>
					<h3>Deploy do marketplace em 7 min</h3>
					<p>Alterar o deploy do marketplace para acontecer em apenas 7 min</p>
					<p><span class='status test'>to test</span> <span class='team'>Maester</span></p>

				</div>
				<div>
					<img class='avatar' src='https://api.adorable.io/avatars/50/user19.png' alt='Mario'>
					<img class='avatar' src='https://api.adorable.io/avatars/50/user19.png' alt='Mario'>
				</div>
			</a>
		</li>
		<li class='hackday'>
			<a href=''>
				<div class='description'>
					<h3>Update libs</h3>
					<p>Atualizar as libs do w7</p>
					<p><span class='status fix'>fix</span> <span class='team'>Martell</span></p>

				</div>
				<div>
					<img class='avatar' src='https://api.adorable.io/avatars/50/user19.png' alt='Mario'>
					<img class='avatar' src='https://api.adorable.io/avatars/50/user19.png' alt='Mario'>
				</div>
			</a>
		</li>
		<li class='hackday'>
			<a href=''>
				<div class='description'>
					<h3>Atualizar ícone do app do pwa</h3>
					<p>Atualiza ícone do app do pwa para algo mais bonitinho no iOS</p>
					<p><span class='status done'>done</span> <span class='team'>Martell</span></p>

				</div>
				<div>
					<img class='avatar' src='https://api.adorable.io/avatars/50/user19.png' alt='Mario'>
					<img class='avatar' src='https://api.adorable.io/avatars/50/user19.png' alt='Mario'>
				</div>
			</a>
		</li>
		<li class='hackday'>
			<a href=''>
				<div class='description'>
					<h3>Atualizar ícone do app do pwa</h3>
					<p>Atualiza ícone do app do pwa para algo mais bonitinho no iOS</p>
					<p><span class='status deployed'>deployed</span> <span class='team'>Martell</span></p>

				</div>
				<div>
					<img class='avatar' src='https://api.adorable.io/avatars/50/user19.png' alt='Mario'>
					<img class='avatar' src='https://api.adorable.io/avatars/50/user19.png' alt='Mario'>
				</div>
			</a>
		</li>
	</ol>

	<div class='hackday-detail'>
		<h2>Deploy do marketplace em 7 min</h2>
		<div class='info'>
			<p><em>Assignees:</em>
				<a><img class='avatar' src='https://api.adorable.io/avatars/50/user19.png' alt='Mario'> Mario</a>,
				<a><img class='avatar' src='https://api.adorable.io/avatars/50/user19.png' alt='Mario'> Leozinho</a>
			</p>
			<p><em>Status:</em> <span class='status test'>to test</span></p>
			<p><em>Time:</em> <span class='team'>Maester</span></p>
			<p><em>Reporter:</em> <a><img class='avatar' src='https://api.adorable.io/avatars/50/user19.png' alt='Mario'> Mario</a></p>
			<p><em>Criado em:</em> 12/07/2018</p>
			<p><em>Última atualização em:</em> 5/08/2018</p>
			<p><em>Descrição:</em>Alterar o deploy do marketplace para acontecer em apenas 7 min</p>
		</div>
	</div>
</main>
